body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-links {
    margin-top: 2rem;
    list-style-type: none;
    text-align: center;
}

.header-links li {
    display: inline;
}

.header-links li > a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    opacity: 0.5;
    margin: 1rem 1rem;
    padding: 0rem 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    transition: opacity 400ms;
}

.header-links li :hover {
    opacity: 1;
}

#header-portfolios {
    padding: 1rem 2rem;
    float: right;
    font-size: 3rem;
    color: #fff;
}

#header-portfolios > a {
    color: #fff;
    opacity: 0.5;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

#header-portfolios > a:hover {
    opacity: 1;
}

#title {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15rem 2rem 25rem 2rem;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    color: #fff;
    /*margin-top: 40vh;*/
    top: 50%;
    text-shadow: 2px 2px 15px #333;
}

.subtitle {
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 1;
}

.center {
    display: block;
    margin: auto;
}

.center-text {
    text-align: center;
}

.fa-center {
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.fa-experience {
    font-size: 15rem;
    line-height: 20rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 8rem;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: left;
}

.section {
    padding: 4rem 0 14rem 0;
    font-size: 2rem;
}

.bg-gray {
    background-color: #f4f4f4;
}

.bg-white {
    background-color: #fff;
}

.pad-top-10 {
    padding-top: 10rem;
}

.pad-top-5 {
    padding-top: 5rem;
}

.pad-top-2 {
    padding-top: 2rem;
}

.clear {
    clear:both;
    line-height:0;
}

p {
    line-height: 1.5;
    color: #555;
    font-size: 2rem;
}

.p-small {
    font-size: 1.5rem;
}

footer {
    background-color: #3a4142;
}

.footer-text {
    color: #a4adb7;
    font-size: 1.8rem;
    line-height: 100px;
}

.footer-icon {
    font-size: 4rem;
    vertical-align: middle;
}

.footer-icon > a {
    color: #a4adb7;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
}

.footer-icon > a:hover {
    color: #5f656f;
}

.right {
    text-align: right;
}

#media {
    float: right;
}

.box-shadow {
    box-shadow: 0px 0px 30px #000;
}