@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    font-family: 'Open Sans', sans-serif;
}

/* Sticky Footer Styles */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
footer, .push {
    height: 50px;
}
/* End Sticky Footer Styles */

footer {
    background-color: #edeff1;
}

.footer-text {
    line-height: 50px;
    color: #bac1c8;
}

.portfolios {
    text-align: right;
    line-height: 50px;
    font-size: 2em;
    vertical-align: middle;
}

.portfolios > a {
    color: #bac1c8;
}

.portfolios > a:hover {
    color: #5f656f;
}

.pageheader {
    background-color: #edeff1;
}

.clear {
    clear:both;
    line-height:0;
}

.center {
    margin: auto;
}

.logo {
    float: left;
    margin: 10px;
}

.navigation-bar {
    float: right;
}

.navigation-bar > ul {
    line-height: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink {
    font-weight: 700;
    margin: 0 10px;
    border: 5px solid transparent;
    display: inline-block;
    font-size: 1em;

    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in;
}

.active {
    border-top-color: #5f656f;
}

.navlink.active > a {
    color: #5f656f;
}

.navlink > a {
    color: #bac1c8;
    padding: 5px 10px;
    text-decoration: none;

    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.navlink > a:hover {
    color: #5f656f;
}

.content {
    margin-top: 20px;
    position: relative;
}

.img-padding {
    padding: 10px;
}