body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

html {
    overflow-y: scroll;
}

/* Sticky Footer Styles */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}
footer, .push {
    height: 50px;
}
/* End Sticky Footer Styles */

footer {
    background-color: #edeff1;
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.footer-text {
    line-height: 50px;
    color: #a4adb7;
}

.portfolios {
    text-align: right;
    line-height: 50px;
    font-size: 2em;
    vertical-align: middle;
}

.portfolios > a {
    color: #a4adb7;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
}

.portfolios > a:hover {
    color: #5f656f;
}

.pageheader {
    background-color: #edeff1;
}

.clear {
    clear:both;
    line-height:0;
}

.center {
    display: block;
    margin: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    float: left;
    margin: 10px;
}

.navigation-bar {
    float: right;
}

.navigation-bar > ul {
    line-height: 65px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navlink {
    font-weight: 400;
    margin: 0 5px;
    border: 6px solid transparent;
    display: inline-block;
    font-size: 1.1em;

    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in;
}

.active {
    border-top-color: #3498DB;
}

.navlink.active > a {
    color: #5f656f;
    font-weight: 700;
}

.navlink > a {
    color: #bac1c8;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;

    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
}

.navlink > a:hover {
    color: #5f656f;
}

.content {
    margin-top: 20px;
    position: relative;
}

.img-padding {
    padding: 10px;
}

p {
    line-height: 1.5;
    color: #777;
    font-size: 1.8rem;
}