body {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

header {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 1;
    transition: opacity 5s;
}

.header-links {
    margin-top: 2rem;
    list-style-type: none;
    text-align: center;
}

.header-links li {
    display: inline;
}

.header-links li > a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    opacity: 0.7;
    margin: 1rem 1rem;
    padding: 0 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    transition: opacity 400ms;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.header-links li :hover {
    opacity: 1;
}

#header-portfolios {
    padding: 1rem 2rem;
    float: right;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.25);
}

#header-portfolios > a {
    color: #fff;
    opacity: 0.7;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
}

#header-portfolios > a:hover {
    opacity: 1;
}

#title {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 15rem 2rem 25rem 2rem;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    color: #fff;
    top: 50%;
    text-shadow: 2px 2px 15px #333;
    position: relative;
}

#title-box {
    display: inline-block;
    padding: 1rem 2rem 2rem 2rem;
    border-top: thin solid rgba(255,255,255,0.25);
    border-bottom: thin solid rgba(255,255,255,0.25);
}

.subtitle {
     font-size: 2.5rem;
     font-weight: 300;
}

/* Header and Title media queries */
@media (max-width: 767px) {
    #title {
        font-size: 4rem;
        padding: 10rem 2rem 15rem 2rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .header-links li > a {
        font-size: 1rem;
        margin: 1rem 1rem;
        padding: 0 0;
    }
}

.center {
    display: block;
    margin: auto;
}

.center-text {
    text-align: center;
}

.fa-center {
    text-align: center;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.fa-experience {
    font-size: 15rem;
    line-height: 20rem;
}

.fa-design {
    font-size: 10rem;
    line-height: 15rem;
}

#fade-in {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
    padding: 1rem;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4.5rem;
    padding-bottom: 8rem;
    color: #3a3a44;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: left;
    color: #3a3a44;
}

p {
    line-height: 1.5;
    color: #555;
    font-size: 1.6rem;
}

.p-small {
    font-size: 1.5rem;
}

.section {
    padding: 4rem 0 14rem 0;
    font-size: 2rem;
}

@media (max-width: 767px) {
    h1 {
        font-size: 3rem;
        padding-bottom: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.5rem;
    }

    .section {
        padding: 2rem 0 8rem 0;
    }
}

.bg-gray {
    background-color: #ECF0F1;
}

.bg-white {
    background-color: #fff;
}

.pad-top-10 {
    padding-top: 10rem;
}

.pad-top-5 {
    padding-top: 5rem;
}

.pad-top-2 {
    padding-top: 2rem;
}

.clear {
    clear:both;
    line-height:0;
}

#upper-footer {
    /*background-color: #3a4142;*/ /* Old color */
    box-shadow: inset 0 7px 9px -7px #000;
    background: radial-gradient(at top, #364045, #2a2d30);
}

#lower-footer {
    box-shadow: inset 0 7px 9px -7px #000;
    background: radial-gradient(at top, #212426, #1b1d1f);
    padding: 1.5rem;
    text-align: center;
    color: #BDC3C7;
}

.footer-text {
    color: #BDC3C7;
    font-size: 1.6rem;
    line-height: 100px;
}

.footer-contact {
    color: #BDC3C7;
    font-size: 1.4rem;
    padding-top:20px;
}

.footer-icon {
    font-size: 3rem;
    vertical-align: middle;
    text-align: right;
}

.footer-icon > a {
    color: #BDC3C7;
    -webkit-transition: color 400ms ease;
    transition: color 400ms ease;
}

.footer-icon > a:hover {
    color: #ECF0F1;
}

#back-to-top {
    text-align: center;
}

/* Footer Media Queries */
@media (max-width: 767px) {
    .footer-text {
        text-align: center;
        line-height: 60px;
    }

    .footer-text .footer-icon {
        text-align: center;
    }

    .footer-contact {
        text-align: center;
    }
}

.right {
    text-align: right;
}

#media {
    float: right;
}

.box-shadow {
    position: relative;
    box-shadow: 0 -7px 7px -7px #000;
}

.header-links {
    padding-left: 0;
}

/* Devicon */
.devicon-holder {
    opacity: 0.5;
    transition: opacity 0.4s;
    padding: 0 1rem;
}
.devicon-holder:hover {
    opacity: 1;
}
.devicon {
    max-width: 3em;
}

.devicon path {
}

.weight-300 {
    font-weight: 300;
}

.full-width {
    width: 100%;
}

#onerepmaxImg {
    position: relative;
}

#onerepmaxtop {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 300ms;
}

#onerepmaxtop:hover {
    opacity: 0;
}