<div class="row">
	<!-- Introduction -->
	<div class="col-md-6 col-md-offset-1">
		<h1 class="header">Hi, I'm Derek Baumgartner</h1>
		<p>I'm a Senior Computer Science major in the Software Engineering track attending the <a href="http://www.colorado.edu/" target="_blank">University of Colorado at Boulder</a>. I plan to graduate with my bachelors degree in May 2015.
		I have experience designing and developing for desktop, web, and mobile.</p>
	</div>
	<div class="col-md-4">
		<img src="me.jpg" alt="This was my Senior photo." class="img-circle img-padding center">
	</div>
	<div class="clear"></div>

	<!-- Coding -->
	<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<img src="images/code13.svg" alt="Placeholder" width="250" height="250" class="img-padding center">
	</div>
	<div class="col-md-6">
		<h1 class="header">Software Development</h1>
		<p>Recently I have been gaining interest in web development due to it's rapidly evolving design and development techniques as seen with frameworks such as <a href="http://getbootstrap.com/" target="_blank">Bootstap</a> and <a href="https://angularjs.org/" target="_blank">AngularJS</a>.</p>
	</div>
	</div>
</div>
<div class="clear"></div>

